---
import * as db from "../utils/db-handler.js";
import { slugify } from "../utils/js-utils.js";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import CardArtwork from "../components/card-artwork.astro";
import ExhibitionTitle from "../components/svgs/exhibition-title.astro";
import ExhibitionSubTitle from "../components/svgs/fall-2023-fine-arts.astro";

import Gallery from "../components/gallery-with-slideshow.svelte";

const images = db.get_tagged_images("opening");
---

<Layout title="CCA | 2023 BFA Showcase">
  <main>
    <Navigation />

    <div class="gallery">
      <section class="gallery__intro">
        <ExhibitionSubTitle />
        <ExhibitionTitle />

        <img class="gallery__image" src={ images[2] }>
      </section>

      <Gallery 
        client:only="svelte"
        artist = "Opening"
        gallery_images = { images }
      />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
  }

  :global(.gallery__images) {
    padding: 0 var(--spacing-element-gap);
    background: linear-gradient(11deg, var(--color-black) 0%, var(--color-black) 26%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 100%);
  }

  .gallery {
    position: relative;
    flex: 1;

    &__image {
      width: 100%;
      margin-bottom: var(--spacing-item-gap);
    }

    &__intro {
       margin-bottom: var(--spacing-section-gap);
    }
  }

  :global(.exhibition-title) {
    position: sticky;
  }

</style>
