---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <ViewTransitions />
	</head>

	<body>
		<slot />
	</body>
</html>

<style is:global>
  /* Fonts */
  @font-face {
    font-family: "Brown";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/BrownStd-Regular.otf") format("otf");
  }
  @font-face {
    font-family: "Brown";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/BrownStd-Bold.otf") format("otf");
  }
  @font-face {
    font-family: "Brown";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/BrownStd-Light.otf") format("otf");
  }

  /* Tokens */
	:root {
    /* Color */
    --color-white: #FFFFFF;
    --color-black: #121212;
    --color-teal: #00BFB3;
    --color-navy: #005776;
    --color-purple: #563D82;
    --color-sand: #F7F3E9;

    /* Spacing */
    --spacing-page-gutter: 140px;
    --spacing-section-heading: 110px;
    --spacing-section-gap: 40px;
    --spacing-element-gap: 25px;
    --spacing-item-gap: 15px;

    /* Font Size */
    --fontsize-xxxlarge: 50px;
    --fontsize-xxlarge: 32px;
    --fontsize-xlarge: 24px;
    --fontsize-xlarge: 20px;
    --fontsize-normal: 16px;
	}

  /* Defaults */
	html {
		font-family: system-ui, sans-serif;
		background: #ffffff;
		background-size: 224px;
	}
  body, h1, h2, h3, h4, h5, h6, p, li, ol, ul {
    margin: 0;
    padding: 0;
  }
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
